/* Header */

#main-menu {
    background-color: #2c3e51;
}

.spotlight {
    min-height: 100px;
    border: 2px solid black;
}

main {
    border: 2px solid blue;
}

.ms-row {
    border: 2px solid red;
}

.ms-col {
    min-height: 100px;
    border: 2px solid grey;
}

#contact {
    min-height: 100px;
}

footer {
    min-height: 100px;
    border: 2px solid black; 
}