header {
    min-height: 80px;
    border: 2px solid black;
}

.spotlight {
    min-height: 100px;
    border: 2px solid black;
}

main {
    min-height: 300px;
    border: 2px solid black;
}

.ms-row {
    min-height: 100px;
    border: 2px solid red;
}


.ms-col {
    min-height: 100px;
    border: 2px solid grey;
}


